@using WebTimer.Models.ViewModels;

@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-4 p-2">
            <div class="mt-4 shadow my-card bg-transparent border border-success">
                <div class="text-center mb-3">
                    <h4>
                        Hoje
                    </h4>
                </div>
                <div class="m-2">
                    @foreach (var category in Model.TimesByCategories)
                    {
                        <div class="mt-2 shadow my-subcard border border-success btn-outline-success text-light">
                            <div class="row">
                                <div class="col-8">
                                    @category.Key
                                </div>
                                <div class="col-4 text-end">
                                    @category.Value.ToString(@"hh\:mm\:ss")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-2 mt-5">
            <div class="mt-5 text-center">
                <button class="btn btn-outline-success text-light my-circle mt-5 shadow" onclick="InsertRecord()">
                    <div class="h4">
                        Iniciar
                    </div>
                </button>
                <div class="mt-4 mb-3">
                    Iniciado:
                    <span id="startTime">00:00:00</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-2 mt-5">
            <div class="mt-5">
                <div class="mt-5">
                    <label class="h5 mt-5">
                        Atividade
                    </label>
                    <select class="form-select bg-dark border-success text-light shadow" id="selectStatus">
                        <option selected disabled>Selecione</option>
                        <option value="1">Trabalho</option>
                        <option value="2">Projetos</option>
                        <option value="3">Estudos</option>
                        <option value="4">Pessoal</option>
                        <option value="5">Entretenimento</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="~/css/Home/Index.css" />

    <script src="~/js/Home/Index.js"></script>
}